# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production

# project

TODO.md

# misc
.DS_Store
.env
.tern-port
*.sublime-project
*.sublime-workspace
npm-debug.log
.idea
TODO
yarn-error.log

# OS or Editor folders
npm-debug.log
# Project folders to ignore
node_modules
.tern-port
.nyc_output
*.map
/lib
coverage
/es
/material
